.search-bar-container {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  width: 92%;
  height: 3rem;
  background-color: #f2f6fc;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.search-bar-container input {
  margin-left: 1rem;
  border: none;
  border-radius: 1.5rem;
  height: 2rem;
  width: 15rem;
  padding-left: 1rem;
}

.search-icon {
  position: absolute;
  left: 18rem;
}

.search-bar-container p {
  margin-left: 1.5rem;
}

.pagination button {
  background-color: aliceblue;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 7px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 0.3rem;
  width: 2rem;
  height: 2rem;
}

.left {
  font-size: small;
  margin-left: 1rem;
}

.right {
  margin-right: 1rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: 3rem;
  background-color: #f2f6fc;
  margin: auto;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
